body {
  margin: 0;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  height: 560px;
  background-color: #ffffff;
  margin: 4em auto 20px auto;
  padding: 20px 30px 60px 30px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.todo-app h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  margin: 30px 10px;
}

.input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e8f0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.input-area input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 16px;
  font-size: 16px;
}

.input-area button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 50px;
  background-color: #4c6ef5;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  border-radius: 100px;
}

/* .task-area {
  border: 1px solid #cccccc;
} */

.task-tabs {
  display: flex;
  border-bottom: 1px solid #cccccc;
  position: relative;
}

.task-tabs div {
  padding: 1em;
}

#under-line {
  height: 4px;
  background-color: #4c6ef5;
  position: absolute;
  width: 100px;
  left: 0px;
  top: 52px;
  padding: 0px;
}

#task-board {
  padding: 0 10px;
  overflow: overlay;
  height: 300px;
}

.task {
  list-style: none;
  font-size: 16px;
  padding: 1em 1em 1em 2.5em;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  height: 30px;
  position: relative;
}

.task-text::before {
  cursor: pointer;
  content: "";
  position: absolute;
  left: 0px;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
}

.task-text {
  cursor: pointer;
  pointer-events: auto;
  width: 100%;
}

.task-done {
  cursor: pointer;
  text-decoration: line-through;
  color: #d3d6e1;
}

.task-done::before {
  cursor: pointer;
  content: "";
  position: absolute;
  left: 0px;
  top: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(images/checked.png);
  background-size: cover;
  background-position: center;
}
